.ui-icon-campus-info {
  background-image: url("025.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.descriptionCloud {
  margin: 0 auto;
  height: 200px;
  background-image: url("cloud.png");
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: center;
}

.descriptionText {
  padding-top: 70px;
  text-align: center
}

.shortcut {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100px;

  width: 15%;
  z-index: 0;
  font-size: 12px;
  text-align: center;

}

.shortcutFooter {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 70px;

  width: 15%;
  z-index: 0;
  font-size: 24px;
  text-align: center;

}

.shortcutSpan {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;

}

#exerciseHomeButton {
background-image: url(exercises.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#sendHomeButton {
background-image: url(036.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#exerciseChooseButton {
background-image: url(icon.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#playChooseButton {
background-image: url(Untitled.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#settingsButton {
background-image: url(025.png);
background-size: 36px;
background-repeat: no-repeat;
margin-left: 170px;
background-position:center;
}

#journalButton {
background-image: url(024.png);
background-size: 36px;
background-repeat: no-repeat;
margin-left: 20px;
background-position:center;
}

.shortcutHeader {
  padding-top: -5px;
  height: 36px;
  width: 15%;
  z-index: 0;
  font-size: 24px;
  text-align: center;
}

#homeButton {
background-image: url(001.png);
background-size: 36px;
background-repeat: no-repeat;
margin-left: 280px;
background-position:center;
}
