
.ui-icon-campus-info {
  background-image: url("025.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.ui-icon-happy-chevron {
  background-image: url("chevron.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 95% 45%;
}

h1{
  margin-top: 10px !important;
}

.pageHeader {
  margin-top: 14px !important;
}

.current {
  border-style: solid !important;
  border-color: black !important;
  border-right-width: 1px !important;
  border-top-width: 1px !important;
  background-color: #e1c335 !important;
}

.descriptionCloud {
  margin-top: -20px;
  height: 200px;
  background-image: url("cloud1.png");
  background-size: 280px;
  background-repeat: no-repeat;
}

.descriptionText {
  padding-top: 30px;
  width: 200px;
  margin-left: 35px;
  text-align: center;
  color: #004990;
}

.shortcut {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100px;

  width: 15%;
  z-index: 0;
  font-size: 12px;
  text-align: center;

}

.shortcutFooter {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 35px;
  width: 15%;
  z-index: 0;
  font-size: 24px;
  text-align: center;

}



.shortcutSpan {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  /* edit: added z-index */
  z-index: 1;


}


#exerciseHomeButton {
  width:70px;
background-image: url(exercises.png);
background-size: 60px;
background-repeat: no-repeat;
margin-left: 50px;
}

#sendHomeButton {
  width: 60px;
background-image: url(036.png);
background-size: 60px;
background-repeat: no-repeat;
margin-left: 50px;
}

#exerciseChooseButton {
background-image: url(icon.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#playChooseButton {
background-image: url(Untitled.png);
background-size: 50px;
background-repeat: no-repeat;
margin-left: 70px;
}

#settingsButton {
background-image: url(025.png);
background-size: 25px;
background-repeat: no-repeat;
margin-left: 210px;
background-position:center;
}

#sendButton {
margin: 0px auto 0px auto;
float:left;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 10;

}


#journalButton {
background-image: url(024.png);
background-size: 25px;
background-repeat: no-repeat;
margin-left: 5px;
background-position:center;
}

.shortcutHeader {
  height: 36px;
  width: 15%;
  z-index: 0;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}


#homeButton {
width : 36px;
background-image: url(001.png);
background-size: 36px;
background-repeat: no-repeat;
float: right;
}


#backButton {
width : 36px;
background-image: url(back.png);
background-size: 36px;
background-repeat: no-repeat;
}

#journalButtonBlock {
width: 36px;
background-image: url(024.png);
background-size: 25px;
background-repeat: no-repeat;
float: left;
}

#settingsButtonBlock {
width: 36px;
background-image: url(025.png);
background-size: 25px;
background-repeat: no-repeat;
float: right;
}

#header {
	height: 60px;
}

#headerText {
  text-align: center;
}

#icon1 {
  width: 50px;
  background-image: url(icon1.png);
  background-size: 50px;
  background-repeat: no-repeat;
}

/** Move up text field **/
div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset
{
  margin-top: -50px;
}

.errorDisplay {
  -webkit-box-shadow:0 0 12px #E8730C ;
  -moz-box-shadow:0 0 12px #E8730C ;
  box-shadow:0 0 12px #E8730C;
  filter:Alpha(Opacity=50);
  opacity:.7;
  cursor:default !important;
  pointer-events:none;
  outline-width:1px;
  outline-style:auto;
}

.errorDisplayButton {
  -webkit-box-shadow:0 0 12px #E8730C ;
  -moz-box-shadow:0 0 12px #E8730C ;
  box-shadow:0 0 12px #E8730C;
  filter:Alpha(Opacity=50);
  opacity:.7;
  cursor:default !important;
  pointer-events:none;
  outline-width:0px;
  outline-style:auto;
}

.ui-btn {
  padding-bottom: 20px;
}
